header {
  font-family: system-ui; 
  background-color: black;
  text-align: center;
  font-size: 35px;
  padding:40px;
  color: white;
}

nav {
  float: left;
  width: 30%;
  height: 250px; 
  background: silver;
  padding: 20px;
}

article {
  float: left;
  padding: 20px;
  width: 70%;
  background-color: navyblue;
}

main{
  font-family: system-ui; 
  background: white;
  font-family: system-ui;
  background: grey;
  color: black;
  text-align: left;
}
h1{
  text-align: center;
  color: 	#00008B;
}

nav{
  font-weight: normal;
  font-size: 20px;
  color: 	black;
  text-align: center;
}
body{
background-color:gray;
color: black;
	}
}
div.body{  
  margin: auto;
  width: 60%;
  border: 3px solid #73AD21;
  padding: 10px;
}
hr{
  border-top: 2px solid black;
  width: 60%;
  margin-left:0
}
div.a{
  margin: auto;
  width: 90%;
  padding: 5px;
}
div.titles{
  margin: auto;
  width: 95%;
}
div.photography{
	 width: 13px;
}
div.table{
  margin: auto;
  width: 30%;
  padding: 5px;
}
table{  
  width: 100%;
  text-align: center;
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  border: 1px solid black;
}
footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}
